
/*

## base classes

1. **primary**
2. **secondary**
3. **success**
4. **danger**
5. **warning**
6. **info**
7. **light**
8. **dark**
*/


:root {
   /* Text Colors */
   --color-primary: #ffffff; /* White text for primary background */
   --color-secondary: #f8f8f8; /* Very light gray for secondary background */
   --color-success: #ffffff; /* White text for success background */
   --color-danger: #ffffff; /* White text for danger background */
   --color-warning: #333333; /* Dark gray text for warning background */
   --color-info: #333333; /* Dark gray text for info background */
   --color-light: #ffffff; /* Dark gray text for light background */
   --color-dark: #333333; /* White text for dark background */
   /* Background Colors */
   --background-primary: #1a1a1a; /* Dark gray, almost black */
   --background-secondary: #590000; /* Deeper, less intense red */
   --background-success: #8b0000; /* Slightly darker success red */
   --background-danger: #b22222; /* Slightly darker danger red */
   --background-warning: #d9534f; /* Muted, less intense warning red */
   --background-info: #f0ad4e; /* Gold/Amber for info (better contrast) */
   --background-light: #eeeeee; /* Light gray */
   --background-dark: #000000; /* Black */
   /* Active and disabled, should work with primary and secondary color for text */
   --background-active: #590000; /* background for active elements */
   --background-disabled: #d9534f; /* background for disabled elements */
   --color-active: #ffffff; /* color for active elements */
   --color-disabled: #ffffff; /* color for disabled elements */
}
