
/*

## base classes

1. **primary**
2. **secondary**
3. **success**
4. **danger**
5. **warning**
6. **info**
7. **light**
8. **dark**
*/


:root {
   --color-body: #000000; /* Black text for body */
   --background-body: #fff; /* White background for body */

   /* Background and Text Colors */
   --color-primary: #ffffff; /* White text for primary background */
   --color-secondary: #000000; /* Black text for secondary background */
   --color-success: #000000; /* Black text for success background */
   --color-danger: #ffffff; /* White text for danger background */
   --color-warning: #000000; /* Black text for warning background */
   --color-info: #ffffff; /* White text for info background */
   --color-light: #000000; /* Black text for light background */
   --color-dark: #ffffff; /* White text for dark background */
   /* Background Colors */
   --background-primary: #c7522a; /* Primary */
   --background-secondary: #e5c185; /* Secondary */
   --background-success: #fbf2c4; /* Success */
   --background-danger: #74a892; /* Danger */
   --background-warning: #008585; /* Warning */
   --background-info: #008585; /* Info */
   --background-light: #fbf2c4; /* Light */
   --background-dark: #343a40; /* Dark */
   /* Active and disabled, should work with primary and secondary color for text */
   --background-active: var(--background-secondary); /* background for active elements */
   --background-disabled: var(--background-success); /* background for disabled elements */
   --color-active: var(--color-secondary); /* color for active elements */
   --color-disabled: var(--color-success); /* color for disabled elements */
}
